[submodule "Initializer"]
	path = lib/Initializer
	url = git@github.com:HEAPLab/TAFFO-submodule-init.git
	branch = develop_2
[submodule "Conversion"]
	path = lib/Conversion
	url = git@github.com:HEAPLab/TAFFO-submodule-conv.git
	branch = develop_2
[submodule "ErrorAnalysis"]
	path = lib/ErrorAnalysis
	url = git@github.com:HEAPLab/TAFFO-submodule-fe.git
	branch = develop_2
[submodule "Autotuner"]
	path = lib/DataTypeAlloc
	url = git@github.com:HEAPLab/TAFFO-submodule-dta.git
	branch = develop_2
[submodule "RangeAnalysis"]
	path = lib/RangeAnalysis
	url = git@github.com:HEAPLab/TAFFO-submodule-vra.git
	branch = develop_2
[submodule "test"]
	path = test
	url = git@github.com:HEAPLab/TAFFO-test.git
	branch = develop_2

